body 
    style
        include ./index.css
    script 

    h1 
        table(class="header")
            tr(class="header")
                td(class="title")
                    b MAKREL MADSENS CHATSERVER
    table(class="beskederTbl")
            tr 
                td 
                td(class="frontTD") Navn:
                td(class="frontTD") Tekst:
    table(class="beskederTbl")
        each besked in beskeder
            tr 
                td
                    input(type="checkbox")
                td(class="tdBesked") #{besked.navn}
                td(class="tdBesked") #{besked.tekst}
    table 
        tr 
            td 
            td    
                a(href = "/addBeskedPage")
                    input(type="submit", value="Send besked")
            td
                Button Slet besked 
        
                    
        
    p= (new Date())