h1 {
    color: blue;
}

table.coll {
	border-collapse: collapse;
	height: 100px;
}

table.sep {
	width: 200px;
	height: 20px;
}

table.sep td{
vertical-align: top;
}

table {
    border: 2px solid blue;
}

td {
	border: 2px solid blue;	
}

table.sep td{
	vertical-align: top;
}

img {  
    width: 50px;  
    height: auto;  
    } 